.counter {
  border: 2px solid black;
  display: flex;
  margin: 5px;
  padding: 5px;
}

.counter > * {
  margin-right: 5px;
}

.counter > :first-child {
  margin-right: auto;
}

.counter > :last-child {
  margin-left: 20px;
}
